body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: orange;
    background-color: no-repeat;
}
.nav
{
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: black;
    opacity: 0.6;
    text-decoration: none;
}
.nav img
{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: aliceblue;
    margin-left: 20px;
}
.text
{
    color: aliceblue;
    margin-right: auto;
    margin-left: 10px;
}
.text1,.text2,.text3,.text4,.text5
{
    color: aliceblue;
    margin-right: 20px;
    
    
}
.container
{
    color: aliceblue;
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 60px;
    
}
.t
{
    font-size: 60px;
    /* font: bolder; */
    font-weight: 900;
}
.t1
{
    
    font-size: 20px;
}
.center{
    display: flex;

}
.center button
{
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    border-radius: 60px; 
    color: aliceblue;
    text-transform: uppercase;
    background-color: green;
     align-items: center; 
     margin: auto;
} 